<h2 mat-dialog-title>{{ product.id === 0 ? 'Nuevo Producto' : 'Editar Producto' }}</h2>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput [(ngModel)]="product.name" placeholder="Nombre">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="product.price" type="number" placeholder="Precio">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="product.image" placeholder="Imagen URL">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="product.description" placeholder="Descripción">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="product.category" placeholder="Categoría">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="onSave()">Guardar</button>
</div>
