<header class="admin-topbar">
  <div class="topbar-left">
    <mat-icon class="menu-icon">menu</mat-icon>
    <span class="topbar-title">Sistema de Ventas - Don Pepe</span>
  </div>

  <div class="topbar-right">
    <button class="icon-button">
      <mat-icon>notifications</mat-icon>
      <span class="badge"></span>
    </button>

    <div class="admin-profile">
      <mat-icon class="profile-avatar">account_circle</mat-icon>
      <span class="profile-name">Hola, {{ nombreAdmin }}</span>
    </div>
  </div>
</header>
