<div class="promo-carousel">
  <img [src]="imagenes[indice]" class="banner">
  <button class="btn prev" (click)="anterior()">❮</button>
  <button class="btn next" (click)="siguiente()">❯</button>
</div>

<section class="brands-carousel-section">
  <h3>Nuestras Marcas Aliadas</h3>
  <div class="brands-carousel">
    <div class="brands-track">
      <div class="brand-item" *ngFor="let marca of marcas; let i = index">
        <img [src]="marca" [alt]="'Brand ' + i">
      </div>
      <div class="brand-item" *ngFor="let marca of marcas; let i = index">
        <img [src]="marca" [alt]="'Brand ' + i">
      </div>
    </div>
  </div>
</section>

<app-scroll-top-button></app-scroll-top-button>

<section class="categoria-bloque" *ngFor="let cat of ['Cereales', 'Snacks', 'Lácteos', 'Detergentes', 'Bebidas', 'Frutas']; let i = index">
  <h2>{{ cat }}</h2>
  <div class="categoria-carousel">
    <button class="cat-arrow left" (click)="moverIzquierda(i)">‹</button>

    <div class="product-grid" [id]="'track-' + i">
      <mat-card class="product-card" *ngFor="let product of obtenerPorCategoria(cat)">
        <img mat-card-image [src]="product.imagenUrl || 'https://placehold.co/150'">
        <mat-card-title>{{ product.nombre }}</mat-card-title>
        <mat-card-subtitle>{{ product.descripcion }}</mat-card-subtitle>
        <mat-card-content>
          <span class="price">S/ {{ product.precio | number:'1.2-2' }}</span>
        </mat-card-content>
        <mat-card-actions style="padding-bottom: 16px; width: 100%; display: flex; justify-content: center;">
          <button mat-raised-button color="primary" class="add-btn" (click)="abrirModalProducto(product)" style="width: 85%; border-radius: 20px;">
            Agregar
          </button>
        </mat-card-actions>
      </mat-card>
    </div>

    <button class="cat-arrow right" (click)="moverDerecha(i)">›</button>
  </div>
</section>
